<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>FarmNet</title>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/patros.css" >
		
	</head>

	<body data-spy="scroll">
		<div id="google_translate_element"></div>

			<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
			}
			</script>
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		
		<!-- Navigation -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><span id="logotitle">FarmNet</span></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/#about">About</a></li>
						<li><a href="/blog">Discussion</a></li>
						<li><a href="/single-post">self Post</a></li>
						<!--<li><a href="#portfolio1">Portofolio</a></li>-->
					
						<li><a href="/#portfolio1">Blog</a></li>
						<!-- <li><a href="/single-post">Single</a></li> -->
						<li><a href="/newInnovation">New_Innovations</a></li>
						<li><a href="/#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header Carousel -->
		<!-- <header id="home" class="carousel slide">
			<ul class="cb-slideshow">
				<li><span>image1</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>Farming is not just a job, it’s a way of life.!</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
				<li><span>image2</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>I believe in the future of agriculture, with a faith born not of words but of deeds.!</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
				<li><span>image3</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>Some of us grew up playing with tractors, the lucky ones still do!</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
				<li><span>Image 04</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>To most people, this is just dirt. To a farmer, it is potential</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
				<li><span>Image 05</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>A farmer is always going to be rich next year!</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
				<li><span>Image 06</span>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center"><h3>Agriculture is the foundation of manufactures, since the productions of nature are the materials of art. s!</h3></div>
							</div>
						</div>
						<h4></h4>
					</div>
				</li>
			</ul>
			<div class="intro-scroller">
				<a class="inner-link" href="#about">
					<div class="mouse-icon" style="opacity: 1;">
						<div class="wheel"></div>
					</div>
				</a> 
			</div>          
        </header>
         -->
        <section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						
                                <div class="text-center">
                                        <h2>Put your Innovation/Query</h2>
                                        <img class="img-responsive displayed" src="images/short.png" alt="about">
                                        </div>
                            
                            <div class="panel-body">
    <div class="table-responsive">
     <script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
     <form class="form-horizontal" method="post" id="formId"enctype="multipart/form-data">
    <table class="table table-bordered">
    <tr>
    
    <td>Image</td><td><input type="file" name="photo" class="form-control" ></td></tr>
    <tr><td>Description</td><td><textarea name="des"></textarea></td></tr>
    <tr><td colspan="2" align="center"><input type="submit" name="save" value="ADD NOW" class="btn btn-sm btn-success"></td>
    </tr>
    </table>
    </form>
     <!--<script>
CKEDITOR.replace( 'des' );
</script>-->
</div>
</div>
</div>
</html>